{% from "macros/nav.html" import header %}
{% from "macros/footer.html" import footer %}

<!DOCTYPE html>
<html class="{{ 'dark-mode' if session.get('theme') == 'dark' }}" lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="ie=edge" http-equiv="X-UA-Compatible"/>
    <title>
        {{ title | default('Movie Watchlist')}}
    </title>
    <link href="https://fonts.googleapis.com/css?family=Public+Sans:400,600&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/reset.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">

    {% block head_content %}
    {% endblock head_content %}
</head>
<body>
{{ header(session.get("email"), session.get("theme")) }}
<main class="main">
    Log in as: test@example.com // 12345
    {% block main_content %}
    {% endblock main_content %}
</main>
{{ footer() }}
</body>
</html>
